<!DOCTYPE html>
<html>
<!-- Head content -->
<%- include partials/head-content.ejs %>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Homepage - Semantic</title>
    <link rel="stylesheet" type="text/css" href="../dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/site.css">

    <link rel="stylesheet" type="text/css" href="../dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/menu.css">

    <link rel="stylesheet" type="text/css" href="../dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/segment.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/sidebar.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/transition.css">

    <style type="text/css">

        .hidden.menu {
            display: none;
        }

        .masthead.segment {
            min-height: 700px;
            padding: 1em 0em;
        }
        .masthead .logo.item img {
            margin-right: 1em;
        }
        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }
        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }
        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }
        .ui.vertical.stripe h3 {
            font-size: 2em;
        }
        .ui.vertical.stripe .button + h3,
        .ui.vertical.stripe p + h3 {
            margin-top: 3em;
        }
        .ui.vertical.stripe .floated.image {
            clear: both;
        }
        .ui.vertical.stripe p {
            font-size: 1.33em;
        }
        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }

        .quote.stripe.segment {
            padding: 0em;
        }
        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }
            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }
            .secondary.pointing.menu .toc.item {
                display: block;
            }
            .masthead.segment {
                min-height: 350px;
            }
            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }
            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
    </style>

    <script src="assets/library/jquery.min.js"></script>
    <script src="../dist/components/visibility.js"></script>
    <script src="../dist/components/sidebar.js"></script>
    <script src="../dist/components/transition.js"></script>
    <script>
        $(document)
            .ready(function() {

                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function() {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function() {
                            $('.fixed.menu').transition('fade out');
                        }
                    })
                ;

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item')
                ;

            })
        ;
    </script>
</head>
<body>
<!-- Left Sidebar -->
<%- include partials/left-sidebar.ejs %>

<div class="pusher" id="main-content">
    <!-- Top Fixed Menu -->
    <%- include("partials/top-menu.ejs",{title:"Google Multi-Cluster Ingress and Gateway Demo App"}); %>
    <!-- Page Content -->

    <div class="ui basic segment" style="top:50px">
        <div class="row">
            <div class="thirteen wide column">
                <h2 class="ui top attached header" id="google-mcg-api-top-field" style="background-color: #f8f8f8">
                    <img class="ui image" src="/images/anthos-google-cloud-logo.png">
                    <div class="content">
                        Multi-Cluster Gateway and Ingress
                        <div id="div1" class="sub header">Load Balancing Traffic across multiple regional Google Kubernetes Engine clusters</div>
                    </div>
                </h2>
                <h4 class="ui top attached header" style="background-color: #f8f8f8">
                    <i class="docker icon"></i>
                    <div class="content">
                        Container Pod Metadata Information
                    </div>
                </h4>
                <div class="ui bottom attached segment">
                    <div class="ui <%= colorCode %> message"><%= regionName %></div>
                    <div class="ui basic segment">
                        <div class="grouped fields">
                            <div class="ui form">
                                <div class="field">
                                    <div class="ui eight stackable cards">
                                        <div class="raised green fluid card">
                                            <div class="content">
                                                <img class="center floated tiny ui image" src="/images/pod-128.png">
                                                <h2 class="description">
                                                    <%= podName %>
                                                </h2>
                                                <h2 class="header">
                                                    Container Pod Name
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="raised green fluid card">
                                            <div class="content">
                                                <img class="center floated tiny ui image" src="/images/ing-128.png">

                                                <h2 class="description">
                                                    <%= podIP %>
                                                </h2>
                                                <h2 class="header">
                                                    Container Pod IP Address
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="raised green fluid card">
                                            <div class="content">
                                                <img class="center floated tiny ui image" src="/images/node-128.png">
                                                <h2 class="description">
                                                    <%= nodeName %>
                                                </h2>
                                                <h2 class="header">
                                                    Worker Node Name
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="raised green fluid card">
                                            <div class="content">
                                                <img class="center floated tiny ui image" src="/images/node-128.png">
                                                <h2 class="description">
                                                    <%= nodeIP %>
                                                </h2>
                                                <h2 class="header">
                                                    Worker Node IP Address
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="raised green fluid card">
                                            <div class="content">
                                                <img class="center floated tiny ui image" src="/images/ns-128.png">

                                                <h2 class="description">
                                                    <%= podNamespace %>
                                                </h2>
                                                <h2 class="header">
                                                    Container Pod Namespace
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="raised green fluid card">
                                            <div class="content">
                                                <img class="center floated tiny ui image" src="/images/sa-128.png">

                                                <h2 class="description">
                                                    <%= podServiceAccount %>
                                                </h2>
                                                <h2 class="header">
                                                    Container Pod Service Account
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="ui horizontal divider header" id="services_div">
    </h4>
    <h4 class="ui horizontal divider" id="services_div">
    </h4>
    <h4 class="ui horizontal divider header" id="services_div">
    </h4>
    <h4 class="ui horizontal divider" id="services_div">
    </h4>
</div>
</div>

<!-- Java Scripts-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.semanticui.min.js"></script>
<script type="text/javascript" src="/js/Semantic-UI-Alert.js"></script>
<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
<script src="/js/load-pod-metadata.js"></script>
<script src="/semantic/dist/semantic.min.js"></script>
<script src="assets/library/jquery.min.js"></script>
<script src="../dist/components/visibility.js"></script>
<script src="../dist/components/sidebar.js"></script>
<script src="../dist/components/transition.js"></script>
</body>

</html>

